* {
  box-sizing: border-box;
}

.galeria {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tarjeta-foto {
  width: 95%;
  padding: 15px;
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 10px #e0e0e0;
}

.tarjeta-foto img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .galeria {
    flex-direction: row;
  }

  .tarjeta-foto {
    width: 31%;
  }
}
